# Configuration keys required by this project. Values intentionally omitted.
ALGOD_TOKEN=
BASE_API_KEY=
FRYBOT_API_KEY=
GITHUB_ID_DEV=
GITHUB_ID=
GITHUB_SECRET_DEV=
GITHUB_SECRET=
MAX_REFUND_AMOUNT=
MONGO_URI=
NEXT_PUBLIC_DAO_TEST=
NEXTAUTH_SECRET=
NODE_ENV=
REWARD_MNEMONIC=
REWARD_REKEY=
STAKE_MNEMONIC=
STAKE_REKEY=
